.main-wrapper {
  transition: all 0.3s ease;
}

/* DARK MODE */
body.dark-mode {
  background: #0f172a;
  color: #f8fafc;
}

/* NAVBAR DARK */
body.dark-mode .navbar {
  background: #1e293b !important;
}

/* LINKS */
.nav-link {
  transition: 0.3s;
}

.nav-link:hover {
  color: #20c997 !important;
  transform: translateY(-2px);
}

/* CARDS */
.card {
  border-radius: 12px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-4px);
}

/* DARK MODE CARD */
body.dark-mode .card {
  background: #1e293b;
  color: #f8fafc;
}

/* LINKS DARK */
body.dark-mode a {
  color: #38bdf8 !important;
}

/* BUTTON */
.btn-dark {
  transition: 0.3s;
}

.btn-dark:hover {
  transform: rotate(180deg) scale(1.1);
}