<div *ngIf="productList.length">
    <h5>Products</h5>
    <div class="row g-3">

        <div *ngFor=" let p of productList" class="col-6 col-sm-4 col-md-3">
          <div class="card" h-100 shadow-sm>
            <h4 class="card-title">{{p.product_name}}</h4>
            <img [src]="p.images?.[0]?.imageUrl" [alt]="p.product_name" style="height:120px; object-fit: cover;">
            <div class="card-body"> 
                <h6>{{p.price | currency:"INR"}}</h6>

                <a class="btn btn-primary btn-sm mx-auto"> View More</a>
            </div>
            
        
        </div> 
            </div>
    </div>

</div>
